@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

html {
  scroll-behavior: unset;
  -ms-overflow-style: none;
  scrollbar-width: none;
  cursor: none;
}

html::-webkit-scrollbar{
  display: none;
}

.lenis-scrolling iframe {
  pointer-events: none;
} 

html, body {
  width: 100%;
  min-height: 100%;
  overscroll-behavior: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  scroll-behavior: smooth;
}

:root{
  --primary: #4CEF75;
  --text-color: #ffffff;
  --border-color: #ffffff;
  --background-color: #212121;
  --span-text-color: #000000;
  --span-background-color: var(--primary);
}

.multiMode:root{
  --text-color: #000000;
  --border-color: #000000;
  --background-color: #2ECB54;
  --span-text-color: var(--primary);
  --span-background-color: #000000;
}


a{
  color: var(--text-color);
}


body {
  justify-content: center;
  background-color: var(--background-color);
  max-width: 100vw;
  overflow-x: hidden;
}

.cursor{
  top: 0;
  left: 0;
  position: fixed;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /* background: #ffffff; */
  border: #ffffff 1px solid;
  transition: 0.1;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9;
  mix-blend-mode: difference;
}

.cursor-dot{
  top: 0;
  left: 0;
  position: fixed;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
  border: #ffffff 1px solid;
  transition: 0.1;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9;
  mix-blend-mode: difference;
}


.cover {
  padding-top: 82px;
  width: 100vw;
  height: 75vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  display: flex;
}

#baldino_container {
  display: flex;
  width: 100%;
  height: 70vh;
  position: fixed;
}

.lottie-animation{
  position: relative;
  height: 100%;
  width: 100%;
  bottom: 0;
}

#animation_container{
  width: 100vw;
}

.baldino_photo {
  width: 65%;
  border-radius: 32px 32px 32px 32px;
}

#embed-iframe{
  position: relative !important;
  
     &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


.nav {
  display: flex;
  z-index: 1;
  background-color: var(--background-color);
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid var(--border-color) 1px;
  position: fixed;
}

.nav a {
  text-decoration: none;
  color: var(--text-color);
  padding: 32px;
}

.text_carroussel {
  display: flex;
  width: 100%;
  padding: 32px 0px 32px 0px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  position: relative;
}

.text_carroussel p {
  text-transform: uppercase;
  margin-right: 32px;
  color: var(--text-color);
  font-weight: 500;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider::before,
.slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  width: 250px;
}

.card-group {
  display: flex;
  padding: 64px;
  max-width: 1700px;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.non-fixed{
  width: 100%;
  position: absolute;
  background-color: var(--background-color);
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 64px;
  color: var(--text-color);
  text-align: justify;
  justify-content: center;
  align-items: center;
}

.card h2 {
  color: var(--text-color) !important;
  margin-bottom: 8px;
  text-align: left;
  width: 100%;
  font-size: 32px;
  font-weight: 400;
}

button {
  margin-top: 16px;
  padding: 16px 32px;
  border-radius: 12px;
  border: 2px solid #000;
  background: var(--primary);
  box-shadow: 6px 6px 0px 0px #000;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
}

.about-paragraph{
  font-size: 18px;
  font-weight: 300;
}

button:active{
  box-shadow: 0px 0px 0px 0px #000;
  margin-top: 20px;
  margin-left: 6px;
  margin-bottom: -4px;
  margin-right: -6px;
}

.podcast {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.podcast .card{
  border: none;
  display: flex;
  justify-content: end;
}

.podcast .card-group{
  width: 100%;
}

#cassette-frame{
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  max-height: 400px;
}

.podcast h2{
  margin-bottom: 30px;
}

#cassette-data{
  position: relative;
  text-align: center;
  text-transform: uppercase;
  /* text-decoration: underline double; */
  font-size: 20px;
  font-weight: bolder;
  z-index: 1;
  top: 110px;
}

/* p span {
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--text-color);
  padding: 0px 8px 4px 8px;
} */

.redes {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  /* min-height: 500px; */
}

.redes .card-group{
  width: 100%;
}


.redes .card-group .phone{
  padding: 0;
  align-items: center;
  border: none;
}

.social{
  max-height: 100px;
}

#phone{
  height: 0px;
  width: 100%;
  max-width: 300px;
  border: 1px solid var(--border-color);
  border-bottom: 0px; 
  border-radius: 30px 30px 0px 0px;
  background-color: var(--background-color);
  padding: 24px 16px;
  position: relative;
  bottom: -10px;
  z-index: 1;
  transition: height 0.2s ease-in-out, bottom 0.5s ease-in-out;
}

#phone .appbar{
  
  display: flex;
  justify-content: space-between;

  .phone-time{
    text-align: center;
    font-weight: bolder;
    width: 100%;
    color: var(--text-color);
  }

  .sensor{
    height: 30px;
    width: 400px;
    border: 1px solid var(--border-color);
    border-radius: 24px;
    margin: 0px 16px 0px 16px;
  }

  .bar-icons{
    width: 100%;
    display: flex;
    color: pink;
  }

  .bar-icons img{
    margin: 0px 3px 0px 3px;
  }
}

.apps{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.apps-label{
  margin-top: 32px;
  margin-left: 16px;
}


.apps .button{
  padding: 0px;
  height: 100vh;
  max-height: 65px;
  width: 100vw;
  max-width: 65px;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 18px;
}

.linkedin{
  background-image: url(assets/icons/phone/linkedin.png); 
}

.tiktok{
  background-image: url(assets/icons/phone/tiktok.png);
  background-color: white !important; 
}

.instagram{
  background-image: url(assets/icons/phone/instagram.png); 
}

.spotify{
  background-image: url(assets/icons/phone/spotify.png);
}

@media screen and (max-width: 767px){
  .card-group, .podcast .container, .redes{
    flex-direction: column;
  }
  .nav{
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px){
  .cover{
    background-position: left;
    background-size: cover;
  }

  .card-group, .podcast .container{
    flex-direction: column;
  }
}

@media screen and (min-width: 1280px){
  .card-group, .podcast .container{
    flex-direction: row;
  }
}